<a href="https://colab.research.google.com/github/palomalomaz/QM_finalproject/blob/main/Step2_endogeneity.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Importing data, merging datasets, selecting boroughs**

In [123]:
import pandas as pd
import gdown

# Direct download link for the crime_cleaned_final.csv file
file_id = "1Dy-eciO2EXLkgbmP1FRoQrYt9p_qkMj6"
file_url = f"https://drive.google.com/uc?id={file_id}"

# Download and read the CSV file
df = pd.read_csv(file_url)

In [124]:
file_id2 = "1rI728hY2w0VuhP5H9Y9_3Vsoax1Hcp1w"
file_url2 = f"https://drive.google.com/uc?id={file_id2}"

# Download and read the CSV file
df = pd.read_csv(file_url2)

In [125]:

selected_boroughs = [
    'Camden', 'Islington', 'Hackney', 'Tower Hamlets', 'Greenwich',
    'Southwark', 'Lambeth', 'Hammersmith and Fulham', 'Kensington and Chelsea',
    'Westminster', 'Brent'
]

# Filter the rent DataFrame to include only the selected boroughs
filtered_rent_df = df[df['Borough'].isin(selected_boroughs)]

In [126]:
crime_df = pd.read_csv(file_url)

# Filter for 'SEXUAL OFFENCES'
sexual_offences_df = crime_df[crime_df['MajorText'] == 'SEXUAL OFFENCES']

# Group by 'BoroughName' and 'Year' and sum 'Value'
crime_summary = sexual_offences_df.groupby(['BoroughName', 'Year', 'CrimeRate']).sum().reset_index()

# Rename columns
crime_summary = crime_summary.rename(columns={
    'BoroughName': 'borough',
    'Year': 'year',
    'Value': 'sex_crimes'
})

# Assign the processed DataFrame back to crime_df
crime_df = crime_summary.copy()

print("Crime data loaded, filtered, grouped, and columns renamed. Displaying first 5 rows of crime_df:")
print(crime_df.head())

Crime data loaded, filtered, grouped, and columns renamed. Displaying first 5 rows of crime_df:
  borough  year  CrimeRate                       MajorText MinorText  \
0   Brent  2017   0.002628                 SEXUAL OFFENCES      RAPE
1   Brent  2017   0.002920                 SEXUAL OFFENCES      RAPE
2   Brent  2017   0.004088                 SEXUAL OFFENCES      RAPE
3   Brent  2017   0.004380  SEXUAL OFFENCESSEXUAL OFFENCES  RAPERAPE
4   Brent  2017   0.004672                 SEXUAL OFFENCES      RAPE

   YearMonth  CrimeCount            mnemonic  Population
0     201707           9           E09000005      342439
1     201712          10           E09000005      342439
2     201703          14           E09000005      342439
3     403412          30  E09000005E09000005      684878
4     201705          16           E09000005      342439

In [127]:
rent_df = pd.read_csv(file_url2)

# Rename columns
rent_df = rent_df.rename(columns={
    'Borough': 'borough',
    'Mean_Monthly_Rent': 'rent_price'
})

print("Rent data loaded and columns renamed. Displaying first 5 rows of rent_df:")
print(rent_df.head())

Rent data loaded and columns renamed. Displaying first 5 rows of rent_df:
                borough  rent_price
0  Barking and Dagenham        1656
1                Barnet        1891
2                Bexley        1612
3                 Brent        2006
4               Bromley        1660

In [128]:
merged_crime_rent_df = pd.merge(crime_df, rent_df, on='borough', how='inner')

print("Merged DataFrame (merged_crime_rent_df) head:")
print(merged_crime_rent_df.head())

print("\nMerged DataFrame (merged_crime_rent_df) info:")
merged_crime_rent_df.info()

Merged DataFrame (merged_crime_rent_df) head:
  borough  year  CrimeRate                       MajorText MinorText  \
0   Brent  2017   0.002628                 SEXUAL OFFENCES      RAPE
1   Brent  2017   0.002920                 SEXUAL OFFENCES      RAPE
2   Brent  2017   0.004088                 SEXUAL OFFENCES      RAPE
3   Brent  2017   0.004380  SEXUAL OFFENCESSEXUAL OFFENCES  RAPERAPE
4   Brent  2017   0.004672                 SEXUAL OFFENCES      RAPE

   YearMonth  CrimeCount            mnemonic  Population  rent_price
0     201707           9           E09000005      342439        2006
1     201712          10           E09000005      342439        2006
2     201703          14           E09000005      342439        2006
3     403412          30  E09000005E09000005      684878        2006
4     201705          16           E09000005      342439        2006

Merged DataFrame (merged_crime_rent_df) info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1575 entries, 0 to 1574
Data columns (total 10 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   borough     1575 non-null   object
 1   year        1575 non-null   int64
 2   CrimeRate   1575 non-null   float64
 3   MajorText   1575 non-null   object
 4   MinorText   1575 non-null   object
 5   YearMonth   1575 non-null   int64
 6   CrimeCount  1575 non-null   int64
 7   mnemonic    1575 non-null   object
 8   Population  1575 non-null   int64
 9   rent_price  1575 non-null   int64
dtypes: float64(1), int64(5), object(4)
memory usage: 123.2+ KB

In [129]:
file_id3 = "1BB7QPI6XLeMOGz3vo44JciRqkWDqa_7w"
file_url3 = f"https://drive.google.com/uc?id={file_id3}"

In [130]:
df_all_ages = pd.read_csv(file_url3)
print("First 5 rows of df_all_ages:")
print(df_all_ages.head())
print("\nColumns and their data types in df_all_ages:")
print(df_all_ages.info())

First 5 rows of df_all_ages:
                  Borough  All ages    18    19    20    21    22    23    24  \
0                  Camden    115907  1509  3249  3298  3290  2645  2710  2916
1                 Hackney    139603  1547  1403  1540  1684  2000  2477  2909
2  Hammersmith and Fulham    101423   879   840  1151  1461  1895  2531  2819
3               Islington    117783  1223  1885  2113  2187  2489  2703  2979
4  Kensington and Chelsea     77455   697   678   836  1049  1180  1631  1678

     25
0  2762
1  3212
2  3030
3  3050
4  1800

Columns and their data types in df_all_ages:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11 entries, 0 to 10
Data columns (total 10 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Borough   11 non-null     object
 1   All ages  11 non-null     int64
 2   18        11 non-null     int64
 3   19        11 non-null     int64
 4   20        11 non-null     int64
 5   21        11 non-null     int64
 6   22        11 non-null     int64
 7   23        11 non-null     int64
 8   24        11 non-null     int64
 9   25        11 non-null     int64
dtypes: int64(9), object(1)
memory usage: 1012.0+ bytes
None

**Test for endogeneity, correlation analysis**

In [131]:
df_all_ages = df_all_ages.rename(columns={'Borough': 'borough'})
print("Column 'Borough' renamed to 'borough' in df_all_ages.")
print("Updated columns:", df_all_ages.columns.tolist())

Column 'Borough' renamed to 'borough' in df_all_ages.
Updated columns: ['borough', 'All ages', '18', '19', '20', '21', '22', '23', '24', '25']

In [132]:
final_merged_df = pd.merge(merged_crime_rent_df, df_all_ages[['borough', 'All ages']], on='borough', how='inner')
print("Merged DataFrame (final_merged_df) head:")
print(final_merged_df.head())
print("\nMerged DataFrame (final_merged_df) info:")
final_merged_df.info()

Merged DataFrame (final_merged_df) head:
  borough  year  CrimeRate                       MajorText MinorText  \
0   Brent  2017   0.002628                 SEXUAL OFFENCES      RAPE
1   Brent  2017   0.002920                 SEXUAL OFFENCES      RAPE
2   Brent  2017   0.004088                 SEXUAL OFFENCES      RAPE
3   Brent  2017   0.004380  SEXUAL OFFENCESSEXUAL OFFENCES  RAPERAPE
4   Brent  2017   0.004672                 SEXUAL OFFENCES      RAPE

   YearMonth  CrimeCount            mnemonic  Population  rent_price  All ages
0     201707           9           E09000005      342439        2006    180473
1     201712          10           E09000005      342439        2006    180473
2     201703          14           E09000005      342439        2006    180473
3     403412          30  E09000005E09000005      684878        2006    180473
4     201705          16           E09000005      342439        2006    180473

Merged DataFrame (final_merged_df) info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1575 entries, 0 to 1574
Data columns (total 11 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   borough     1575 non-null   object
 1   year        1575 non-null   int64
 2   CrimeRate   1575 non-null   float64
 3   MajorText   1575 non-null   object
 4   MinorText   1575 non-null   object
 5   YearMonth   1575 non-null   int64
 6   CrimeCount  1575 non-null   int64
 7   mnemonic    1575 non-null   object
 8   Population  1575 non-null   int64
 9   rent_price  1575 non-null   int64
 10  All ages    1575 non-null   int64
dtypes: float64(1), int64(6), object(4)
memory usage: 135.5+ KB

In [133]:
import statsmodels.api as sm
from scipy.stats import pearsonr

def partial_correlation(df, x, y, controls):
    """Calculate partial correlation between x and y controlling for controls"""
    # Residuals after controlling for other variables
    X_control = sm.add_constant(df[controls])

    # Regress x on controls
    model_x = sm.OLS(df[x], X_control).fit()
    resid_x = model_x.resid

    # Regress y on controls
    model_y = sm.OLS(df[y], X_control).fit()
    resid_y = model_y.resid

    # Correlation of residuals
    return pearsonr(resid_x, resid_y)[0]

# Calculate partial correlation
controls = ['All ages']
partial_corr_crime_rent = partial_correlation(final_merged_df, 'CrimeRate', 'rent_price', controls)

print(f"Partial correlation between CrimeRate and rent_price, controlling for 'All ages': {partial_corr_crime_rent:.3f}")

Partial correlation between CrimeRate and rent_price, controlling for 'All ages': 0.340